@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,400italic,700italic);
.reveal a {
  line-height: 1.3em; }

/*************************
* General settings
*************************/

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #333;
  font-family: "Quicksand", sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: -0.08em;
  text-transform: capitalize;
  text-shadow: none;
  word-wrap: break-word;
}

.reveal h1 {
  font-size: 3em; }

.reveal h2 {
  font-size: 1.5em; }

.reveal h3 {
  font-size: 1em; }


.reveal blockquote {
	width: 90%;
}


/*Headers of nested slides*/
.reveal .level2 h1 {
 	font-size: 2.5em;
	text-transform: capitalize;
	font-variant: small-caps;
	margin-bottom: .8em;
 }

.reveal .source {
	position: absolute;
	bottom: -5em;
	font-size: .6em;
	width: 100%;
}


/*********************
* Title-Slide
*********************/
.reveal .title {
	font-size: 1.3em;
	padding-top: 1.5em;
}

.reveal .author {
	font-size: 1.2em;
	text-transform: capitalize;
	font-variant: small-caps;
	margin-bottom: 1.5em;
}

.reveal .date {
	font-size: 1em;
	text-transform: capitalize;
	font-variant: small-caps;
}

